body{
  background-color: #F0FFF0;
  font-family: 'Comic Sans MS';
}
header{
  background-color: #778899;
}

h1{
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}
/*navagation sytle*/
header nav{
  display: flex;
  justify-content: center;
}

header nav ul{
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a{
  color: black;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover{
  color: azure;
}

@media all and (min-width: 700px){
  header{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
  header h1{
    margin: 14px 0;
    padding-top: 0;
  }
  header nav{
    margin-top: 8px;
  }
  header nav ul li a:hover{
  color: azure;
}
}
/*end of nav styling*/

article h2{
  text-align: center;
}

.img-profile{
  width: 100%;
  margin-top: 0;
}

.home{
  margin-bottom: 120px;
}

main p{
  margin-top: 0;
}

.about{
  text-align: center;
  padding: 50px;
  margin: 10px;
}

li{
  text-align: center;
}

/*groups and items*/

.wrapper{
  width: 100%;
}

.group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.items{
  flex: 1;
  margin-bottom: 10px;
}

.item-double{
  flex: 2;
  margin-bottom: 10px;
}

footer{
  text-align: center;
  padding: 0 10px;
}

footer ol{
  list-style: none;
}

/*groups and items for desktop*/

@media all and (min-width: 800px){
.wrapper{
  margin: auto;
  width: 80%;
}
.item{
  padding: 0 10%;
}
.group{
  flex-direction: row;
}

/*contact form style*/

form{
  padding-right: 0 10px;
}

form input,
form textarea{
  width: 100%;
  margin-bottom: 20px;
}

form textarea{
  height: 160px;
}